[submodule "External/VulkanWrappers"]
	path = External/VulkanWrappers
	url = git@github.com:parsaiej/VulkanWrappers.git
[submodule "External/stb"]
	path = External/stb
	url = git@github.com:nothings/stb.git
